@import '/src/variables'
    
.controller 
    display: flex
    gap: .5rem
    margin-bottom: 3rem
    .button
        all: unset
        border: 1px solid $C6
        border-radius: 50%
        width: 5rem
        aspect-ratio: 1/1
        display: flex
        align-items: center
        justify-content: center
        cursor: pointer
        transition: all .3s

        font-size: 2rem

        &:hover 
            background: $C6
            color: $C1
        
        img
            width: .875rem

        &.active 
            background: $C6
            color: $C1

    @media (max-width: $mobileBreakpoint)
        width: 95%
        .button 
            font-size: 1.125rem

        img 
            width: .5rem