.table 
    width: 70%
    .tHead 
        display: grid
        grid-template-columns: repeat(7, 1fr)
        background: #811AC0
        p 
            flex: 1
            text-align: center
            padding: .5rem
            font-size: 1.125rem
            line-height: 1.6875rem
    .tBody
        display: flex
        flex-direction: column